In [124]:
import streamlit as st
import pandas as pd

In [125]:
nested_egg = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/290a91fb-8186-486d-992e-985839352809/data/latest')
loot = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/2208cc91-e624-4b40-b666-f65c8b6405f8/data/latest')
eggs = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/ee319c5f-4f03-41b5-b607-99f306fe1e2f/data/latest')
meteor_dust = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/8eebec3c-db0e-4051-a5c2-50a5deb1070b/data/latest')
meteors = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/b9778a1d-9b63-4ba5-a48f-7b28569b5603/data/latest')
#IT IS ABSOLUTELY CRUCIAL THAT YOU DO NOT CHANGE THE ORIGINAL NAMES OF THE DATAFRAME COLUMNS ON VELOCITY

#MUST STORE IN A DICTIONARY 
current_nft_dict = {'nested_egg':nested_egg, 'loot':loot, 'eggs':eggs, 'meteor_dust':meteor_dust, 'meteors':meteors}

In [ ]:
nft_luna_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_luna_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_LUNA_PRICE']].rename({'NFT_LUNA_PRICE':f'{nft}'}, axis = 1))
nft_luna_price_df = pd.concat(nft_luna_price_df)
nft_luna_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_luna_price_df['BLOCK_TIMESTAMP'])
nft_luna_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_luna_price_df.index = nft_luna_price_df.index.round('D')

# START HERE

In [126]:
nft_luna_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_luna_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_TYPE', 'NFT_LUNA_PRICE', 'NFT_UST_PRICE_AT_PURCHASE']])

nft_luna_price_df = pd.concat(nft_luna_price_df)
nft_luna_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_luna_price_df['BLOCK_TIMESTAMP'])
nft_luna_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_luna_price_df.index = nft_luna_price_df.index.round('D')
nft_luna_price_df

                          NFT_TYPE  NFT_LUNA_PRICE  NFT_UST_PRICE_AT_PURCHASE
BLOCK_TIMESTAMP
2022-01-30       Levana Nested Egg            5.75                 291.799528
2022-01-30       Levana Nested Egg            5.75                 291.799528
2022-01-30       Levana Nested Egg            5.75                 298.984103
2022-01-30       Levana Nested Egg           12.50                 642.477332
2022-01-30       Levana Nested Egg            6.50                 335.149540
...                            ...             ...                        ...
2021-11-11          Levana Meteors            0.99                  51.273975
2021-11-11          Levana Meteors           10.00                 517.918941
2021-11-11          Levana Meteors            0.80                  41.433515
2021-11-11          Levana Meteors            0.50                  25.895947
2021-11-11          Levana Meteors            8.88                 459.912019

[13833 rows x 3 columns]

In [138]:
total_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST'})
average_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).mean().rename(columns={'NFT_LUNA_PRICE':'AVERAGE_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'AVERAGE_UST'})
tx_count_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).count().rename(columns={'NFT_LUNA_PRICE':'TRANSACTION_COUNT'})
tx_count_df = tx_count_df['TRANSACTION_COUNT']
min_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).min().rename(columns={'NFT_LUNA_PRICE':'MIN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MIN_UST'})
max_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).max().rename(columns={'NFT_LUNA_PRICE':'MAX_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MAX_UST'})
median_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).median().rename(columns={'NFT_LUNA_PRICE':'MEDIAN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MEDIAN_UST'})
cum_sum = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA_CUMULATIVE', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST_CUMULATIVE'}).cumsum(axis=0)


master_df = pd.concat([total_df, tx_count_df, average_df, min_df, max_df, median_df, cum_sum], axis = 1)
master_df

                                     TOTAL_LUNA     TOTAL_UST  \
BLOCK_TIMESTAMP NFT_TYPE
2021-11-11      Levana Meteors       707.999723  36529.469834
2021-11-12      Levana Meteors      1916.050900  97246.288728
2021-11-13      Levana Meteors       161.072100   7886.429952
2021-11-14      Levana Meteors       392.804000  19818.606276
2021-11-15      Levana Meteors       571.060800  28926.395622
...                                         ...           ...
2022-01-30      Levana Eggs           85.250000   4423.791437
                Levana Loot           55.220000   2871.147544
                Levana Meteor Dust   102.554800   5257.614742
                Levana Meteors        76.869000   3972.192186
                Levana Nested Egg    116.240000   6042.759371

                                    TRANSACTION_COUNT  AVERAGE_LUNA  \
BLOCK_TIMESTAMP NFT_TYPE
2021-11-11      Levana Meteors                    267      2.651684
2021-11-12      Levana Meteors                    247      7.757291
2021-11-13      Levana Meteors                     99      1.626991
2021-11-14      Levana Meteors                     78      5.035949
2021-11-15      Levana Meteors                    195      2.928517
...                                               ...           ...
2022-01-30      Levana Eggs                         9      9.472222
                Levana Loot                         9      6.135556
                Levana Meteor Dust                 84      1.220890
                Levana Meteors                     23      3.342130
                Levana Nested Egg                  17      6.837647

                                    AVERAGE_UST  MIN_LUNA     MIN_UST  \
BLOCK_TIMESTAMP NFT_TYPE
2021-11-11      Levana Meteors       136.814494     0.200    9.652385
2021-11-12      Levana Meteors       393.709671     0.200   10.268564
2021-11-13      Levana Meteors        79.660909     0.260   12.753554
2021-11-14      Levana Meteors       254.084696     0.200   10.205798
2021-11-15      Levana Meteors       148.340490     0.250   12.709092
...                                         ...       ...         ...
2022-01-30      Levana Eggs          491.532382     8.490  443.674199
                Levana Loot          319.016394     1.650   86.375210
                Levana Meteor Dust    62.590652     0.420   21.625735
                Levana Meteors       172.704008     2.249  114.697825
                Levana Nested Egg    355.456434     5.250  274.830214

                                    MAX_LUNA      MAX_UST  \
BLOCK_TIMESTAMP NFT_TYPE
2021-11-11      Levana Meteors        159.00  8544.618134
2021-11-12      Levana Meteors        155.00  7787.968202
2021-11-13      Levana Meteors         20.00   979.843189
2021-11-14      Levana Meteors        179.00  8735.005144
2021-11-15      Levana Meteors        150.00  7639.221720
...                                      ...          ...
2022-01-30      Levana Eggs            14.99   784.705697
                Levana Loot            38.00  1985.820914
                Levana Meteor Dust     20.00  1024.088467
                Levana Meteors          7.00   369.036545
                Levana Nested Egg      12.50   642.477332

                                    TOTAL_LUNA_CUMULATIVE  \
BLOCK_TIMESTAMP NFT_TYPE
2021-11-11      Levana Meteors                 707.999723
2021-11-12      Levana Meteors                2624.050623
2021-11-13      Levana Meteors                2785.122723
2021-11-14      Levana Meteors                3177.926723
2021-11-15      Levana Meteors                3748.987523
...                                                   ...
2022-01-30      Levana Eggs                  53736.232391
                Levana Loot                  53791.452391
                Levana Meteor Dust           53894.007191
                Levana Meteors               53970.876191
                Levana Nested Egg            54087.116191

                                    TOTAL_UST_CUMULATIVE
BLOCK_TIMESTAMP NFT_TYPE
2021-11-11      Levana Meteors              3.652947e+04
2021-11-12      Levana Meteors              1.337758e+05
2021-11-13      Levana Meteors              1.416622e+05
2021-11-14      Levana Meteors              1.614808e+05
2021-11-15      Levana Meteors              1.904072e+05
...                                                  ...
2022-01-30      Levana Eggs                 3.595754e+06
                Levana Loot                 3.598625e+06
                Levana Meteor Dust          3.603883e+06
                Levana Meteors              3.607855e+06
                Levana Nested Egg           3.613898e+06

[239 rows x 11 columns]

In [146]:
master_df.reset_index()[['NFT_TYPE', 'TOTAL_UST']].groupby(['NFT_TYPE']).sum()

                       TOTAL_UST
NFT_TYPE
Levana Eggs         1.180389e+06
Levana Loot         1.402888e+05
Levana Meteor Dust  7.365993e+05
Levana Meteors      1.183660e+06
Levana Nested Egg   3.729610e+05

In [116]:
nft_luna_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_luna_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_TYPE', 'NFT_LUNA_PRICE']].rename({'NFT_LUNA_PRICE':f'{nft}_LUNA_PRICE'}, axis = 1))
nft_luna_price_df = pd.concat(nft_luna_price_df, axis= 1)
nft_luna_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_luna_price_df['BLOCK_TIMESTAMP'])
nft_luna_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_luna_price_df.index = nft_luna_price_df.index.round('D')
nft_luna_price_df.groupby('BLOCK_TIMESTAMP').sum()

ValueError: cannot assemble with duplicate keys

In [63]:
nft_ust_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_ust_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_UST_PRICE_AT_PURCHASE']].rename({'NFT_UST_PRICE_AT_PURCHASE':f'{nft}_UST_PRICE'}, axis = 1))
nft_ust_price_df = pd.concat(nft_ust_price_df)
nft_ust_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_ust_price_df['BLOCK_TIMESTAMP'])
nft_ust_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_ust_price_df.index = nft_ust_price_df.index.round('D')
nft_ust_price_df.groupby('BLOCK_TIMESTAMP').sum()

,nested_egg_UST_PRICE,loot_UST_PRICE,eggs_UST_PRICE,meteor_dust_UST_PRICE,meteors_UST_PRICE
BLOCK_TIMESTAMP,,,,,
2021-11-11,0.000000,0.000000,0.000000,0.000000,36529.469834
2021-11-12,0.000000,0.000000,0.000000,0.000000,97246.288728
2021-11-13,0.000000,0.000000,0.000000,0.000000,7886.429952
2021-11-14,0.000000,0.000000,0.000000,0.000000,19818.606276
2021-11-15,0.000000,0.000000,0.000000,0.000000,28926.395622
...,...,...,...,...,...
2022-01-26,26932.261334,2424.284101,7626.571364,15962.438021,4499.899561
2022-01-27,9236.058513,1935.495190,10161.408364,10305.208151,13978.989361
2022-01-28,0.000000,3466.615553,4442.340503,6296.279094,4790.275722
2022-01-29,0.000000,6697.367446,0.000000,2842.612071,4014.159334
2022-01-30,0.000000,2690.993053,0.000000,0.000000,1541.403525

In [51]:
#pd.DataFrame(nft_ust_price_df.sum()).reset_index().rename(columns={0:"UST Exchanged Sum"})
nft_ust_price_df.sum()

nested_egg_NFT_UST_PRICE_AT_PURCHASE     3.160115e+05
loot_NFT_UST_PRICE_AT_PURCHASE           1.401086e+05
eggs_NFT_UST_PRICE_AT_PURCHASE           1.170355e+06
meteor_dust_NFT_UST_PRICE_AT_PURCHASE    7.265926e+05
meteors_NFT_UST_PRICE_AT_PURCHASE        1.181229e+06
dtype: float64

In [60]:
tx_count = pd.DataFrame(nft_ust_price_df.apply(lambda x: (x > 0).sum(), axis =  1).groupby('BLOCK_TIMESTAMP').sum()).reset_index()
pd.DataFrame(tx_count.rename(columns={0:"Transaction Count"})['Transaction Count'])

    Transaction Count
0                 267
1                 247
2                  99
3                  78
4                 195
..                ...
76                210
77                176
78                216
79                 85
80                 18

[81 rows x 1 columns]

In [52]:
nft_luna_price_df.index = nft_luna_price_df.index.round('H')
nft_luna_price_df.groupby('BLOCK_TIMESTAMP').sum()

NameError: name 'nft_luna_price_df' is not defined