In [1]:
import streamlit as st
import pandas as pd
import requests
import ast

In [78]:
nested_egg = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/290a91fb-8186-486d-992e-985839352809/data/latest')
loot = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/2208cc91-e624-4b40-b666-f65c8b6405f8/data/latest')
eggs = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/ee319c5f-4f03-41b5-b607-99f306fe1e2f/data/latest')
meteor_dust = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/8eebec3c-db0e-4051-a5c2-50a5deb1070b/data/latest')
meteors = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/b9778a1d-9b63-4ba5-a48f-7b28569b5603/data/latest')
#IT IS ABSOLUTELY CRUCIAL THAT YOU DO NOT CHANGE THE ORIGINAL NAMES OF THE DATAFRAME COLUMNS ON VELOCITY

#MUST STORE IN A DICTIONARY 
current_nft_dict = {'nested_egg':nested_egg, 'loot':loot, 'eggs':eggs, 'meteor_dust':meteor_dust, 'meteors':meteors}

In [79]:
nft_luna_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_luna_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_LUNA_PRICE']].rename({'NFT_LUNA_PRICE':f'{nft}'}, axis = 1))
nft_luna_price_df = pd.concat(nft_luna_price_df)
nft_luna_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_luna_price_df['BLOCK_TIMESTAMP'])
nft_luna_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_luna_price_df.index = nft_luna_price_df.index.round('D')
nft_luna_price_df

                 nested_egg  loot  eggs  meteor_dust  meteors
BLOCK_TIMESTAMP
2022-02-02             6.25   NaN   NaN          NaN      NaN
2022-02-02            38.00   NaN   NaN          NaN      NaN
2022-02-02            13.20   NaN   NaN          NaN      NaN
2022-02-02             6.80   NaN   NaN          NaN      NaN
2022-02-02             7.45   NaN   NaN          NaN      NaN
...                     ...   ...   ...          ...      ...
2021-11-11              NaN   NaN   NaN          NaN     8.88
2021-11-11              NaN   NaN   NaN          NaN    10.00
2021-11-11              NaN   NaN   NaN          NaN     0.50
2021-11-11              NaN   NaN   NaN          NaN     0.80
2021-11-11              NaN   NaN   NaN          NaN     0.99

[14527 rows x 5 columns]

# START HERE

In [ ]:
nft_luna_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_luna_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_TYPE', 'NFT_LUNA_PRICE', 'NFT_UST_PRICE_AT_PURCHASE']])

nft_luna_price_df = pd.concat(nft_luna_price_df)
nft_luna_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_luna_price_df['BLOCK_TIMESTAMP'])
nft_luna_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_luna_price_df.index = nft_luna_price_df.index.round('D')
nft_luna_price_df

In [ ]:
total_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST'})
average_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).mean().rename(columns={'NFT_LUNA_PRICE':'AVERAGE_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'AVERAGE_UST'})
tx_count_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).count().rename(columns={'NFT_LUNA_PRICE':'TRANSACTION_COUNT'})
tx_count_df = tx_count_df['TRANSACTION_COUNT']
min_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).min().rename(columns={'NFT_LUNA_PRICE':'MIN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MIN_UST'})
max_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).max().rename(columns={'NFT_LUNA_PRICE':'MAX_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MAX_UST'})
median_df = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).median().rename(columns={'NFT_LUNA_PRICE':'MEDIAN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MEDIAN_UST'})
cum_sum = nft_luna_price_df.groupby(['BLOCK_TIMESTAMP', 'NFT_TYPE']).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA_CUMULATIVE', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST_CUMULATIVE'}).cumsum(axis=0)


master_df = pd.concat([total_df, tx_count_df, average_df, min_df, max_df, median_df, cum_sum], axis = 1)
master_df

# RARITY TABLE - Meteors, Eggs, Dust

In [80]:
# nft_luna_price_df = []
# for nft in current_nft_dict:
#     #renames columns from Flipside dataframes according to NFT
#     nft_luna_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_LUNA_PRICE']].rename({'NFT_LUNA_PRICE':f'{nft}'}, axis = 1))
# nft_luna_price_df = pd.concat(nft_luna_price_df)
# nft_luna_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_luna_price_df['BLOCK_TIMESTAMP'])
# nft_luna_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
# nft_luna_price_df.index = nft_luna_price_df.index.round('D')

#meteors
meteor_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/5d7b0f96-a537-46e5-9b3c-d5145072279f/data/latest')
meteor_rarity_merge = pd.merge(meteors, meteor_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')
egg_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/284600cc-7b4c-4d47-ab50-dbdd528daf93/data/latest')
egg_rarity_merge = pd.merge(eggs, egg_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')
dust_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/f4b78c34-07ec-4f5e-8099-7e6db2db24a9/data/latest')
dust_rarity_merge = pd.merge(meteor_dust, dust_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')

,BLOCK_TIMESTAMP,HOUR,LUNA_UST_PRICE,NFT_LUNA_PRICE,NFT_TYPE,NFT_UST_PRICE_AT_PURCHASE,TOKEN_ID,TX_ID,RARITY
0,2022-02-02 13:40:23.896,2022-02-02 13:00:00.000,52.998104,5.99000,Levana Meteor Dust,317.458645,2675,7A87BABF7003EDB84EA3E64EB06D36684A35615A96A700...,Ancient
1,2022-02-02 13:18:43.616,2022-02-02 13:00:00.000,52.998104,0.57999,Levana Meteor Dust,30.738371,25494,187AC5C05179638DC31D97DDFBF881C183622BBFCD6DA8...,Common
2,2022-02-02 11:48:24.137,2022-02-02 11:00:00.000,52.766880,2.00000,Levana Meteor Dust,105.533760,11368,A6E86B8A3860137ADA29196440A06E240E094020B78382...,Rare
3,2022-02-02 10:33:58.898,2022-02-02 10:00:00.000,52.384832,1.75000,Levana Meteor Dust,91.673457,13625,4CEBB04BC55D5C6D77579B5B9D4DDD36E14C1B521E916A...,Common
4,2022-02-01 23:56:28.591,2022-02-01 23:00:00.000,51.913699,0.50000,Levana Meteor Dust,25.956850,13625,7A9917F5876DB4C98D776C011A45FAB0BBCA89E5731EF4...,Common
...,...,...,...,...,...,...,...,...,...
6696,2021-12-01 05:05:54.559,2021-12-01 05:00:00.000,56.933031,0.25000,Levana Meteor Dust,14.233258,22565,5232811606166150AD84C9864AE2845BCD2B697B5278D2...,Common
6697,2021-12-01 05:06:26.995,2021-12-01 05:00:00.000,56.933031,0.25000,Levana Meteor Dust,14.233258,21171,22D3AC754B6BC296854667EBF64C90A53356EF61EBF482...,Common
6698,2021-12-01 04:09:01.855,2021-12-01 04:00:00.000,56.933031,3.00000,Levana Meteor Dust,170.799092,3796,7C140B710214E49E9B0F25502376292D985EC180F8FF47...,Rare
6699,2021-12-01 04:56:10.835,2021-12-01 04:00:00.000,56.933031,0.30000,Levana Meteor Dust,17.079909,22941,F26FF3F8A85F68ED8F61510A4B183674F1D18CC52F74DA...,Common
6700,2021-12-01 04:42:14.081,2021-12-01 04:00:00.000,56.933031,6.50000,Levana Meteor Dust,370.064700,2784,C8CBF07E1C39481A47CE9F4492C700519BE5E1B78173CB...,Ancient

# RARITY - Nested Eggs, Loot

In [ ]:
#Alternative using swagger; this method takes an exceptionally large amount of time
def swagger_app(num):
        rarity = requests.get(f"https://fcd.terra.dev/wasm/contracts/terra1vhuyuwwr4rkdpez5f5lmuqavut28h5dt29rpn6/store?query_msg=%7B%22nft_info%22:%7B%22token_id%22:%22{num}%22%7D%7D").json()
        return rarity.get('result').get('extension').get('attributes')[1].get('value')
        #print(num)

nested_egg['RARITY'] = nested_egg['TOKEN_ID'].apply(lambda x: swagger_app(x))

In [ ]:
#for nested eggs
#This should be the faster version pulling directly from the server set up to scrape RE
nested_rarity = pd.read_csv('http://165.22.125.123/nested_egg_nfts.csv ')
nested_rarity_merge = pd.merge(nested_egg, nested_rarity[['token_id', 'traits']], left_on='TOKEN_ID', right_on='token_id', how='inner')
nested_rarity_merge['RARITY'] = nested_rarity_merge['traits'].apply(lambda x: ast.literal_eval(x).get('Rarity'))
nested_rarity_merge.pop('traits')
nested_rarity_merge

In [67]:
loot_rarity = pd.read_csv('http://165.22.125.123/loot_nfts.csv')
loot_rarity_merge = pd.merge(loot, loot_rarity[['token_id', 'traits']], left_on='TOKEN_ID', right_on='token_id', how='inner')
loot_rarity_merge['RARITY'] = loot_rarity_merge['traits'].apply(lambda x: ast.literal_eval(x).get('Rarity'))
loot_rarity_merge.pop('traits')
loot_rarity_merge

,BLOCK_TIMESTAMP,HOUR,LUNA_UST_PRICE,NFT_LUNA_PRICE,NFT_TYPE,NFT_UST_PRICE_AT_PURCHASE,TOKEN_ID,TX_ID,token_id,RARITY
0,2022-02-01 18:05:46.834,2022-02-01 18:00:00.000,52.204693,1.75,Levana Loot,91.358213,3110,530DC5DACA625F01A66CFC865EEA717DC0367A4DB21458...,3110,None
1,2022-02-01 17:36:32.132,2022-02-01 17:00:00.000,52.207602,6.12,Levana Loot,319.510523,625,F9648A102B52659D339E1B7823DD5C5E124CDB93C5E51D...,625,None
2,2022-02-01 17:11:26.029,2022-02-01 17:00:00.000,52.207602,6.07,Levana Loot,316.900143,1590,5A39F8EAEEC27731E60EAA3255A84E547956F1CF11AC66...,1590,None
3,2022-02-01 16:39:16.438,2022-02-01 16:00:00.000,52.041715,5.63,Levana Loot,292.994855,3878,67E40CBE29C96F831C45EC6B4F3E7BC699BBD15152B577...,3878,None
4,2022-02-01 16:34:49.595,2022-02-01 16:00:00.000,52.041715,6.00,Levana Loot,312.250290,2024,90D30E3F0192EE28BBD76AF3BD163320FC41416C541872...,2024,None
...,...,...,...,...,...,...,...,...,...,...
638,2022-01-12 13:36:49.066,2022-01-12 13:00:00.000,78.392752,7.00,Levana Loot,548.749264,336,98AA8E00EF2F994929ED619EAA924B60C86A48411BE0B5...,336,None
639,2022-01-12 12:28:57.408,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot,195.734272,20,34DA05F39CFECBDB2584F7B43A04E261FDECF4C6502447...,20,None
640,2022-01-12 12:29:40.436,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot,195.734272,62,939D8F43C21F1A4E846C829E81D01B35CAD4F46B18242D...,62,None
641,2022-01-12 12:45:08.249,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot,195.734272,129,8D108BCECDD68B4D5403A03262514CF893387B92F2B970...,129,None
642,2022-01-12 12:25:56.803,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot,195.734272,17,E2F7A7D8AC88F0D99CE630C618524C2E5FDA1D5750DDDD...,17,None

In [76]:
group_master = ['BLOCK_TIMESTAMP']
meteors = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/b9778a1d-9b63-4ba5-a48f-7b28569b5603/data/latest')
meteors_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/284600cc-7b4c-4d47-ab50-dbdd528daf93/data/latest')
meteors_rarity_merge = pd.merge(meteors, meteors_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')

meteors_rarity_merge = meteors_rarity_merge[['BLOCK_TIMESTAMP', 'RARITY', 'NFT_LUNA_PRICE', 'NFT_UST_PRICE_AT_PURCHASE']]
meteors_rarity_merge['BLOCK_TIMESTAMP'] = pd.to_datetime(meteors_rarity_merge['BLOCK_TIMESTAMP'])
meteors_rarity_merge.set_index('BLOCK_TIMESTAMP', inplace = True)
meteors_rarity_merge.index = meteors_rarity_merge.index.round('D')

total_df = meteors_rarity_merge.groupby(group_master).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST'})
average_df = meteors_rarity_merge.groupby(group_master).mean().rename(columns={'NFT_LUNA_PRICE':'AVERAGE_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'AVERAGE_UST'})
tx_count_df = meteors_rarity_merge.groupby(group_master).count().rename(columns={'NFT_LUNA_PRICE':'TRANSACTION_COUNT'})
tx_count_df = tx_count_df['TRANSACTION_COUNT']
min_df = meteors_rarity_merge.groupby(group_master).min().rename(columns={'NFT_LUNA_PRICE':'MIN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MIN_UST'})
max_df = meteors_rarity_merge.groupby(group_master).max().rename(columns={'NFT_LUNA_PRICE':'MAX_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MAX_UST'})
median_df = meteors_rarity_merge.groupby(group_master).median().rename(columns={'NFT_LUNA_PRICE':'MEDIAN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MEDIAN_UST'})
cum_sum = meteors_rarity_merge.groupby(group_master).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA_CUMULATIVE', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST_CUMULATIVE'}).cumsum(axis=0)

meteors_master = pd.concat([total_df, tx_count_df, average_df, min_df, max_df, median_df, cum_sum], axis = 1).reset_index().sort_values(by=group_master, ascending=False)
meteors_master

KeyError: 'TOKEN_ID'

In [ ]:
nft_ust_price_df = []
for nft in current_nft_dict:
    #renames columns from Flipside dataframes according to NFT
    nft_ust_price_df.append(current_nft_dict[nft][['BLOCK_TIMESTAMP', 'NFT_UST_PRICE_AT_PURCHASE']].rename({'NFT_UST_PRICE_AT_PURCHASE':f'{nft}_UST_PRICE'}, axis = 1))
nft_ust_price_df = pd.concat(nft_ust_price_df)
nft_ust_price_df['BLOCK_TIMESTAMP'] = pd.to_datetime(nft_ust_price_df['BLOCK_TIMESTAMP'])
nft_ust_price_df.set_index('BLOCK_TIMESTAMP', inplace = True)
nft_ust_price_df.index = nft_ust_price_df.index.round('D')
nft_ust_price_df.groupby('BLOCK_TIMESTAMP').sum()

In [71]:
nested_egg = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/290a91fb-8186-486d-992e-985839352809/data/latest')
nested_rarity = pd.read_csv('http://165.22.125.123/nested_egg_nfts.csv')
nested_rarity_merge = pd.merge(nested_egg, nested_rarity[['token_id', 'traits']], left_on='TOKEN_ID', right_on='token_id', how='inner')
nested_rarity_merge['RARITY'] = nested_rarity_merge['traits'].apply(lambda x: ast.literal_eval(x).get('Rarity'))
nested_rarity_merge.pop('traits')

group_master = ['BLOCK_TIMESTAMP']

nested_rarity_merge = nested_rarity_merge[['BLOCK_TIMESTAMP', 'NFT_LUNA_PRICE', 'NFT_UST_PRICE_AT_PURCHASE']]
nested_rarity_merge['BLOCK_TIMESTAMP'] = pd.to_datetime(nested_rarity_merge['BLOCK_TIMESTAMP'])
nested_rarity_merge.set_index('BLOCK_TIMESTAMP', inplace = True)
nested_rarity_merge.index = nested_rarity_merge.index.round('D')

total_df = nested_rarity_merge.groupby(group_master).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST'})
average_df = nested_rarity_merge.groupby(group_master).mean().rename(columns={'NFT_LUNA_PRICE':'AVERAGE_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'AVERAGE_UST'})
tx_count_df = nested_rarity_merge.groupby(group_master).count().rename(columns={'NFT_LUNA_PRICE':'TRANSACTION_COUNT'})
tx_count_df = tx_count_df['TRANSACTION_COUNT']
min_df = nested_rarity_merge.groupby(group_master).min().rename(columns={'NFT_LUNA_PRICE':'MIN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MIN_UST'})
max_df = nested_rarity_merge.groupby(group_master).max().rename(columns={'NFT_LUNA_PRICE':'MAX_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MAX_UST'})
median_df = nested_rarity_merge.groupby(group_master).median().rename(columns={'NFT_LUNA_PRICE':'MEDIAN_LUNA', 'NFT_UST_PRICE_AT_PURCHASE':'MEDIAN_UST'})
cum_sum = nested_rarity_merge.groupby(group_master).sum().rename(columns={'NFT_LUNA_PRICE':'TOTAL_LUNA_CUMULATIVE', 'NFT_UST_PRICE_AT_PURCHASE':'TOTAL_UST_CUMULATIVE'}).cumsum(axis=0)

nested_master = pd.concat([total_df, tx_count_df, average_df, min_df, max_df, median_df, cum_sum], axis = 1).reset_index().sort_values(by=group_master, ascending=False)
nested_master

,BLOCK_TIMESTAMP,TOTAL_LUNA,TOTAL_UST,TRANSACTION_COUNT,AVERAGE_LUNA,AVERAGE_UST,MIN_LUNA,MIN_UST,MAX_LUNA,MAX_UST,MEDIAN_LUNA,MEDIAN_UST,TOTAL_LUNA_CUMULATIVE,TOTAL_UST_CUMULATIVE
20,2022-02-02,92.090,4788.265028,5,18.418000,957.653006,6.99,361.763566,40.00,2085.309165,12.600,655.725608,6494.413,438693.687517
19,2022-02-01,712.240,37129.060703,34,20.948235,1092.031197,5.50,275.882123,200.00,10343.446056,6.150,322.005397,6402.323,433905.422489
18,2022-01-31,489.150,23229.697428,15,32.610000,1548.646495,5.00,246.079980,170.00,8495.527716,6.000,280.966968,5690.083,396776.361786
17,2022-01-30,127.840,6628.401073,19,6.728421,348.863214,5.25,274.830214,12.50,642.477332,5.750,291.799528,5200.933,373546.664359
16,2022-01-29,260.650,12911.684152,14,18.617857,922.263154,5.25,272.159499,85.00,4137.476585,6.150,318.562213,5073.093,366918.263286
15,2022-01-28,733.815,38260.209880,12,61.151250,3188.350823,5.90,322.455030,400.00,20146.851333,11.750,672.324282,4812.443,354006.579134
14,2022-01-27,155.080,9236.058513,28,5.538571,329.859233,4.00,251.464809,11.00,639.395557,4.970,289.963305,4078.628,315746.369254
13,2022-01-26,427.150,26932.261334,11,38.831818,2448.387394,4.00,255.464921,345.00,21737.353963,8.300,522.956632,3923.548,306510.310741
12,2022-01-25,81.630,5379.386262,7,11.661429,768.483752,5.00,305.072592,50.00,3317.746311,5.380,353.822734,3496.398,279578.049407
11,2022-01-24,84.510,5691.292012,11,7.682727,517.390183,5.00,333.725184,13.00,893.414753,6.120,412.997449,3414.768,274198.663146
10,2022-01-23,22.200,1430.327617,4,5.550000,357.581904,5.00,306.146308,6.20,427.673237,5.500,348.254036,3330.258,268507.371134
9,2022-01-22,148.270,10042.729723,7,21.181429,1434.675675,5.75,373.842446,68.50,4400.484951,9.500,613.585347,3308.058,267077.043517
8,2022-01-21,443.559,36511.272285,25,17.742360,1460.450891,5.75,463.603108,179.99,14799.670281,6.850,575.042459,3159.788,257034.313794
7,2022-01-20,279.410,22553.227596,23,12.148261,980.575113,5.00,411.996333,43.50,3470.857058,7.900,632.632729,2716.229,220523.041509
6,2022-01-19,209.470,16550.526990,12,17.455833,1379.210582,6.00,464.984737,59.00,4637.947454,10.680,856.121110,2436.819,197969.813913
5,2022-01-18,64.040,4925.493857,6,10.673333,820.915643,5.69,436.057721,29.85,2250.694432,6.500,508.371475,2227.349,181419.286923
4,2022-01-17,214.950,18352.647624,21,10.235714,873.935601,6.05,520.471788,27.00,2331.975500,6.980,600.365399,2163.309,176493.793066
3,2022-01-16,341.620,29269.461741,23,14.853043,1272.585293,5.50,475.316577,65.00,5589.982233,8.990,778.530098,1948.359,158141.145442
2,2022-01-15,806.620,65419.343476,79,10.210380,828.092955,1.50,121.650146,200.00,16185.586848,4.810,395.719579,1606.739,128871.683700
1,2022-01-14,163.330,13012.880410,17,9.607647,765.463554,3.30,267.067753,64.75,5160.075634,3.690,295.567105,800.119,63452.340224
0,2022-01-13,636.789,50439.459815,26,24.491885,1939.979224,2.99,236.251173,450.00,35250.205446,3.695,304.769337,636.789,50439.459815

In [16]:
nested_egg = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/290a91fb-8186-486d-992e-985839352809/data/latest')
loot = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/2208cc91-e624-4b40-b666-f65c8b6405f8/data/latest')
eggs = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/ee319c5f-4f03-41b5-b607-99f306fe1e2f/data/latest')
meteor_dust = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/8eebec3c-db0e-4051-a5c2-50a5deb1070b/data/latest')
meteors = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/b9778a1d-9b63-4ba5-a48f-7b28569b5603/data/latest')
#IT IS ABSOLUTELY CRUCIAL THAT YOU DO NOT CHANGE THE ORIGINAL NAMES OF THE DATAFRAME COLUMNS ON VELOCITY

#MUST STORE IN A DICTIONARY 
current_nft_dict = {'nested_egg':nested_egg, 'loot':loot, 'eggs':eggs, 'meteor_dust':meteor_dust, 'meteors':meteors}

meteor_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/5d7b0f96-a537-46e5-9b3c-d5145072279f/data/latest')
meteor_rarity_merge = pd.merge(meteors, meteor_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')
egg_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/284600cc-7b4c-4d47-ab50-dbdd528daf93/data/latest')
egg_rarity_merge = pd.merge(eggs, egg_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')
dust_rarity = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/f4b78c34-07ec-4f5e-8099-7e6db2db24a9/data/latest')
dust_rarity_merge = pd.merge(meteor_dust, dust_rarity[['TOKEN_ID', 'RARITY']], on='TOKEN_ID')

nested_rarity = pd.read_csv('http://165.22.125.123/nested_egg_nfts.csv')
nested_rarity_merge = pd.merge(nested_egg, nested_rarity[['token_id', 'traits']], left_on='TOKEN_ID', right_on='token_id', how='inner')
nested_rarity_merge['RARITY'] = nested_rarity_merge['traits'].apply(lambda x: ast.literal_eval(x).get('Rarity'))
nested_rarity_merge.pop('traits')
nested_rarity_merge.pop('token_id')

loot = pd.read_json('https://api.flipsidecrypto.com/api/v2/queries/2208cc91-e624-4b40-b666-f65c8b6405f8/data/latest')
loot_ROLE = pd.read_csv('http://165.22.125.123/loot_nfts.csv')
loot_ROLE_merge = pd.merge(loot, loot_ROLE[['token_id', 'traits']], left_on='TOKEN_ID', right_on='token_id', how='inner')
loot_ROLE_merge['ROLE'] = loot_ROLE_merge['traits'].apply(lambda x: ast.literal_eval(x).get('Role'))
loot_ROLE_merge['FACTION'] = loot_ROLE_merge['traits'].apply(lambda x: ast.literal_eval(x).get('Faction'))
loot_ROLE_merge.pop('traits')
loot_ROLE_merge.pop('token_id')
loot_ROLE_merge['NFT_TYPE'] = loot_ROLE_merge['NFT_TYPE'] + (' - ') + loot_ROLE_merge['ROLE']
loot_ROLE_merge.pop('ROLE')
loot_ROLE_merge = loot_ROLE_merge.rename(columns = {'FACTION':'RARITY'})

In [17]:
master_df = pd.concat([meteor_rarity_merge, dust_rarity_merge, egg_rarity_merge, nested_rarity_merge, loot_ROLE_merge])

,BLOCK_TIMESTAMP,HOUR,LUNA_UST_PRICE,NFT_LUNA_PRICE,NFT_TYPE,NFT_UST_PRICE_AT_PURCHASE,TOKEN_ID,TX_ID,RARITY
0,2022-02-02 15:55:12.555,2022-02-02 15:00:00.000,50.634081,2.550,Levana Meteors,129.116906,16693,78F747E773355733A900F9D412AC1F2F8EBBC57F9A04D7...,Common
1,2022-02-02 13:44:05.019,2022-02-02 13:00:00.000,52.998104,2.599,Levana Meteors,137.742073,22495,D961FBCEBC1BD2C6DAC9F5F99C50F22BB411A05643D811...,Common
2,2021-11-16 23:37:30.131,2021-11-16 23:00:00.000,43.645471,0.350,Levana Meteors,15.275915,22495,FFF1AF31732B69B282313ED75D486DBB551BDFE337A689...,Common
3,2022-02-02 10:10:30.200,2022-02-02 10:00:00.000,52.384832,5.000,Levana Meteors,261.924162,4951,D31B9CE8FC96369CEE50A29757148CBF56BAC8118A6893...,Rare
4,2022-02-02 08:24:11.382,2022-02-02 08:00:00.000,51.840996,2.770,Levana Meteors,143.599560,32761,F340C45D4B3A34BF3B8B54CA47AAEA8C35F924E41F8BCB...,Common
...,...,...,...,...,...,...,...,...,...
678,2022-01-12 13:24:42.820,2022-01-12 13:00:00.000,78.392752,7.000,Levana Loot - Member,548.749264,105,948780CADD2631B58095E5F22EBDB9BFF05BFCABAB85BF...,Council
679,2022-01-12 12:25:56.803,2022-01-12 12:00:00.000,78.293709,2.500,Levana Loot - Member,195.734272,17,E2F7A7D8AC88F0D99CE630C618524C2E5FDA1D5750DDDD...,Free Martians
680,2022-01-12 12:45:08.249,2022-01-12 12:00:00.000,78.293709,2.500,Levana Loot - Member,195.734272,129,8D108BCECDD68B4D5403A03262514CF893387B92F2B970...,Council
681,2022-01-12 12:29:40.436,2022-01-12 12:00:00.000,78.293709,2.500,Levana Loot - Member,195.734272,62,939D8F43C21F1A4E846C829E81D01B35CAD4F46B18242D...,Free Martians
682,2022-01-12 12:28:57.408,2022-01-12 12:00:00.000,78.293709,2.500,Levana Loot - Member,195.734272,20,34DA05F39CFECBDB2584F7B43A04E261FDECF4C6502447...,Council

,BLOCK_TIMESTAMP,HOUR,LUNA_UST_PRICE,NFT_LUNA_PRICE,NFT_TYPE,NFT_UST_PRICE_AT_PURCHASE,TOKEN_ID,TX_ID,RARITY
0,2022-02-02 13:47:43.804,2022-02-02 13:00:00.000,52.998104,2.10,Levana Loot - Member,111.296019,2606,7AFBA1DB4F744E71619C06160785B81A2C27512A14BB45...,Free Martians
1,2022-01-16 03:59:31.121,2022-01-16 03:00:00.000,85.999727,1.80,Levana Loot - Member,154.799508,2606,2EB430054F2BEEBD21C01F3273C5DC8C50A2C184605E23...,Free Martians
2,2022-02-02 13:26:35.924,2022-02-02 13:00:00.000,52.998104,2.38,Levana Loot - Member,126.135488,2072,F12B5039B3C9FD872863BBDBC88BF58DA41BAAB7036898...,Free Martians
3,2022-02-02 13:20:20.613,2022-02-02 13:00:00.000,52.998104,2.40,Levana Loot - Member,127.195451,682,35197B4BD2BFF689E240567D2B5ADCE99606B14EB69906...,Free Martians
4,2022-02-02 11:09:18.432,2022-02-02 11:00:00.000,52.766880,1.93,Levana Loot - Member,101.840079,5222,816D270CF27C8B42C4EE414B2932018990F8D53357E747...,Terrans
...,...,...,...,...,...,...,...,...,...
678,2022-01-12 13:24:42.820,2022-01-12 13:00:00.000,78.392752,7.00,Levana Loot - Member,548.749264,105,948780CADD2631B58095E5F22EBDB9BFF05BFCABAB85BF...,Council
679,2022-01-12 12:25:56.803,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot - Member,195.734272,17,E2F7A7D8AC88F0D99CE630C618524C2E5FDA1D5750DDDD...,Free Martians
680,2022-01-12 12:45:08.249,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot - Member,195.734272,129,8D108BCECDD68B4D5403A03262514CF893387B92F2B970...,Council
681,2022-01-12 12:29:40.436,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot - Member,195.734272,62,939D8F43C21F1A4E846C829E81D01B35CAD4F46B18242D...,Free Martians
682,2022-01-12 12:28:57.408,2022-01-12 12:00:00.000,78.293709,2.50,Levana Loot - Member,195.734272,20,34DA05F39CFECBDB2584F7B43A04E261FDECF4C6502447...,Council